{% extends 'base.html' %}

{% block title %}
  Scrumptious recipes
{% endblock title %}

{% block content %}
<header>
    <nav>
      <a href="{% url 'recipe_list' %}">Main Page</a>
      {% if user.is_authenticated %}
        Hello, {{ user.username }}
        <a href="{% url 'my_recipe_list' %}">My recipes</a>
        <a href="{% url 'create_recipe' %}">Create a recipe</a>
        <a href="{% url 'user_logout' %}">Logout</a>
      {% else %}
      <a href="{% url 'signup' %}">Sign up</a>
      <a href="{% url 'user_login' %}">Login</a>
      {% endif %}
    </nav>
</header>
<main>
    <h1>{{ recipe_object.title }}</h1>
    <h2>All our delicious eats</h2>
    <div class="recipe-grid">
        {% for recipe in recipe_list %}
        <div>
            <h3>
                <div><a href="{% url 'show_recipe' recipe.id %}" style="color:rgb(228, 11, 217)">{{ recipe.title }}</a></div>
                <div><img src="{{ recipe.picture }}"img></div>
                <div><div>4.3 stars</div></div>
            </h3>
            <p>{{ recipe.created_on|date:'' }}</p>
        </div>
        {% endfor %}
        </div>
    </div>
</main>
{% endblock content %}

{% load static %}

<!doctype html>
<html lang="eng">
    <head>
        <title>Scrumptious Recipes</title>
        <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
    </head>
    <body>

        <footer>Made with love by Scrumptious Recipes</footer>
    </body>
</html>
