body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.recipe-grid {
    /*background-color: burlywood;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /*grid-template-rows: auto 1fr;*/
}

html {
    background-color: blanchedalmond;
}
main {
    /*background-color: burlywood;*/
    padding: 16px 16px 16px 16px;
    margin: 10px;
}

footer {
    background-color:#00ccc0;
    padding: 24px 24px;
}

img {
    /*border-image-width: 30px;*/
    width: auto;
    height: 200px;
}
nav {
    background-color: #FA7f08;
    padding: 16px;

}
a:link {
    text-decoration: none;
}
tr:nth-child(even) {
    background-color: gainsboro;

}
